body{
    text-align: center;
}

#apps{
 width: 100%;
    height: 750;
    background-color: aquamarine;
}

.line{
    height: 6px;
    width: 100px;
    background-color: khaki;
    margin: 8px auto;
}

#g{
    background-color: brown;
}

#cb{
    background-color: darkgray;
}